# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
rawAssets

# JDK 1.8
openlogic-openjdk-8u392-b08-windows-64
